<!-- Products -->
<!-- <div><strong>Product & Favorites Examples</strong></div> -->
<section class="container-grid  justify-content-between ">

    <!-- <div id="products" class="row "> -->
        <!-- Product 1 -->
        <div class="card  mr-3 mb-3 ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="./images/shop/electronics/01.jpg" class="card-img" alt="Product Name">
                    <span class="product-sale-label badge badge-success no-border-radius">20% Off</span>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Product 1</h5>
                        <span class="product-category text-muted">Product Category 1</span>
                        <p class="product-category text-muted">$100</p>
                        <p class="card-text mb-4">Product Description 1</p>

                        <a productId="1" class="wishlist-btn product-btn ml-2" href="#" onclick="favorite(event, 1)">
                            <img src="./icons/favorite-24px.svg" alt="Wishlist">
                            <span class="sr-only">Wishlist</span>
                        </a>

                        <span class="product-footer">
                            <span class="product-buttons">
                                <a productId="1" class="product-btn" href="#" onclick="addToCart(1)">
                                    <img src="./icons/add_shopping_cart-24px.svg" alt="Shopping cart">
                                    <span class="sr-only">Shopping Cart</span>
                                </a>
                               <!--  <a productId="1" class="product-btn" href="#">
                                    <img src="./icons/compare_arrows-24px.svg" alt="Compare products">
                                    <span class="sr-only">Compare</span>
                                </a> -->
                            </span>
                            <span class="product-stars">
                                <span class="product-review-median">4</span>
                                <img src="./icons/star_border-24px.svg" alt="Review Result">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product 2 -->
        <div class="card   mr-3  mb-3 ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="./images/shop/electronics/02.jpg" class="card-img" alt="Product Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Product 2</h5>
                        <span class="product-category text-muted">Product Category 1</span>
                        <p class="product-category text-muted">$100</p>
                        <p class="card-text mb-4">Product Description 2</p>

                        <a productId="2" class="wishlist-btn product-btn ml-2" href="#" onclick="favorite(event, 2)">
                            <img src="./icons/favorite_border-24px.svg" alt="Wishlist">
                            <span class="sr-only">Wishlist</span>
                        </a>

                        <span class="product-footer">
                            <span class="product-buttons">
                                <a productId="2" class="product-btn" href="#" onclick="addToCart(2)">
                                    <img src="./icons/add_shopping_cart-24px.svg" alt="Shopping cart">
                                    <span class="sr-only">Shopping Cart</span>
                                </a>
                               <!--  <a productId="2" class="product-btn" href="#">
                                    <img src="./icons/compare_arrows-24px.svg" alt="Compare products">
                                    <span class="sr-only">Compare</span>
                                </a> -->
                            </span>
                            <span class="product-stars">
                                <span class="product-review-median">3.5</span>
                                <img src="./icons/star_border-24px.svg" alt="Review Result">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product 3 -->
        <div class="card  mr-3 mb-3 ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="./images/shop/electronics/02.jpg" class="card-img" alt="Product Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Product 2</h5>
                        <span class="product-category text-muted">Product Category 1</span>
                        <p class="product-category text-muted">$100</p>
                        <p class="card-text mb-4">Product Description 2</p>

                        <a productId="2" class="wishlist-btn product-btn ml-2" href="#" onclick="favorite(event, 2)">
                            <img src="./icons/favorite_border-24px.svg" alt="Wishlist">
                            <span class="sr-only">Wishlist</span>
                        </a>

                        <span class="product-footer">
                            <span class="product-buttons">
                                <a productId="2" class="product-btn" href="#" onclick="addToCart(2)">
                                    <img src="./icons/add_shopping_cart-24px.svg" alt="Shopping cart">
                                    <span class="sr-only">Shopping Cart</span>
                                </a>
                               <!--  <a productId="2" class="product-btn" href="#">
                                    <img src="./icons/compare_arrows-24px.svg" alt="Compare products">
                                    <span class="sr-only">Compare</span>
                                </a> -->
                            </span>
                            <span class="product-stars">
                                <span class="product-review-median">3.5</span>
                                <img src="./icons/star_border-24px.svg" alt="Review Result">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product 4 -->
        <div class="card   mr-3 mb-3 ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="./images/shop/electronics/02.jpg" class="card-img" alt="Product Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Product 2</h5>
                        <span class="product-category text-muted">Product Category 1</span>
                        <p class="product-category text-muted">$100</p>
                        <p class="card-text mb-4">Product Description 2</p>

                        <a productId="2" class="wishlist-btn product-btn ml-2" href="#" onclick="favorite(event, 2)">
                            <img src="./icons/favorite_border-24px.svg" alt="Wishlist">
                            <span class="sr-only">Wishlist</span>
                        </a>

                        <span class="product-footer">
                            <span class="product-buttons">
                                <a productId="2" class="product-btn" href="#" onclick="addToCart(2)">
                                    <img src="./icons/add_shopping_cart-24px.svg" alt="Shopping cart">
                                    <span class="sr-only">Shopping Cart</span>
                                </a>
                               <!--  <a productId="2" class="product-btn" href="#">
                                    <img src="./icons/compare_arrows-24px.svg" alt="Compare products">
                                    <span class="sr-only">Compare</span>
                                </a> -->
                            </span>
                            <span class="product-stars">
                                <span class="product-review-median">3.5</span>
                                <img src="./icons/star_border-24px.svg" alt="Review Result">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product 5 -->
        <div class="card  mr-3 mb-3 ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="./images/shop/electronics/02.jpg" class="card-img" alt="Product Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Product 2</h5>
                        <span class="product-category text-muted">Product Category 1</span>
                        <p class="product-category text-muted">$100</p>
                        <p class="card-text mb-4">Product Description 2</p>

                        <a productId="2" class="wishlist-btn product-btn ml-2" href="#" onclick="favorite(event, 2)">
                            <img src="./icons/favorite_border-24px.svg" alt="Wishlist">
                            <span class="sr-only">Wishlist</span>
                        </a>

                        <span class="product-footer">
                            <span class="product-buttons">
                                <a productId="2" class="product-btn" href="#" onclick="addToCart(2)">
                                    <img src="./icons/add_shopping_cart-24px.svg" alt="Shopping cart">
                                    <span class="sr-only">Shopping Cart</span>
                                </a>
                               <!--  <a productId="2" class="product-btn" href="#">
                                    <img src="./icons/compare_arrows-24px.svg" alt="Compare products">
                                    <span class="sr-only">Compare</span>
                                </a> -->
                            </span>
                            <span class="product-stars">
                                <span class="product-review-median">3.5</span>
                                <img src="./icons/star_border-24px.svg" alt="Review Result">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product 6 -->
        <div class="card   mr-3 mb-3 ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="./images/shop/electronics/02.jpg" class="card-img" alt="Product Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Product 2</h5>
                        <span class="product-category text-muted">Product Category 1</span>
                        <p class="product-category text-muted">$100</p>
                        <p class="card-text mb-4">Product Description 2</p>

                        <a productId="2" class="wishlist-btn product-btn ml-2" href="#" onclick="favorite(event, 2)">
                            <img src="./icons/favorite_border-24px.svg" alt="Wishlist">
                            <span class="sr-only">Wishlist</span>
                        </a>

                        <span class="product-footer">
                            <span class="product-buttons">
                                <a productId="2" class="product-btn" href="#" onclick="addToCart(2)">
                                    <img src="./icons/add_shopping_cart-24px.svg" alt="Shopping cart">
                                    <span class="sr-only">Shopping Cart</span>
                                </a>
                                <!-- <a productId="2" class="product-btn" href="#">
                                    <img src="./icons/compare_arrows-24px.svg" alt="Compare products">
                                    <span class="sr-only">Compare</span>
                                </a> -->
                            </span>
                            <span class="product-stars">
                                <span class="product-review-median">3.5</span>
                                <img src="./icons/star_border-24px.svg" alt="Review Result">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    <!-- </div> -->
    <!-- <div data-include-html="html/partials/home-pagination.html"></div> -->
</section>